*
{
    margin:0px;
    padding:0px;
    /* background-color: #010101; */
    box-sizing: border-box;
}

body
{
    max-width: 1300px;
    margin: auto;
}

.container
{
    max-width: 1300px;
    margin: auto;
    background-color: #1f1f1f;
    border-bottom: 0.1px solid #383737;
    position: sticky;
    top: 0px;
    z-index: 1;
    /* box-shadow: 0px 2px 5px #383737; */
}

.logo img {
    height: 44px;
    margin: 5px 0px 0px 0px; 
    margin-left: 30px;
    cursor: pointer;
}

.navbar
{
    display: flex;
    align-items: center;
    font-family: 'Baloo Bhai 2', cursive;

}

.cart
{
    width: 30px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    margin-right: 20px;
    cursor: pointer;
}

nav
{
    flex:1;
    text-align: right;
}


nav ul
{
    display: inline-block;
    list-style: none;
    text-align: center;
}

nav ul li
{
    display: inline-block;
    width: 120px;
}

nav ul li a
{
    text-decoration: none;
    color: #e2e2e2;
    padding: 10px;
    transition: font-size 0.2s;
}

nav ul li a:hover
{
    font-size: 17px;
}

.middle
{
    /* background-color: black; */
    margin: 0 10px; 
}

.row h1,p
{
    color: #bfbfbf;
    font-family: 'Poppins', sans-serif;

}

.col2 img
{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    width:250px;
    /* margin-left: 50px; */
}

.row
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.first-row .row
{
    background-color: black;
}

.btn
{
    display: inline-block;
    background-color: white;
    text-decoration: none;
    padding: 5px 25px;
    margin: 20px 0px;
    border-radius: 30px;
    font-size: 17px;
    font-family: 'Itim', cursive;
    transition: all 0.4s;
}

.btn:hover
{
    background-color: #ff533b;
    color: white;
}

.puma
{
    margin-top: 10px;
    max-width: 1300;
}

.puma img
{
    display: inline-block;
    width: 100%;
    max-width: 1253.33px;
    margin: auto;
}

.categories
{
    margin: 70px 0px;
    
}

.col3
{
    flex-basis: 30%;
    min-width: 150px;
    /* margin-bottom: 30px; */
}

.col3 img
{
    width: 90%;
    box-shadow: 5px 5px 5px rgb(133, 132, 132) ;
}

.categories .row
{
    background-color: white;
}

.small-container
{
    max-width: 1000px;
    margin: auto;
    padding: 0 25px; 

}

.col4
{
    flex-basis: 25%;
    padding: 10px;
    min-width: 227px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    cursor: pointer;
}

.col4 img
{
    width: 100%;
}

.title
{
    text-align: center;
    margin: 0 auto 80px; 
    position: relative;
    line-height: 60px;
    color: #555;}

.title::after
{
    content: "";
    background: #ff533b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4
{
    color: #555;
    font-weight: normal;
}

.col4 p
{
    font-size: 14px;
}

.rating .fa 
{
    color: #ff533b;
}

.col4:hover
{
    transform: translateY(-5px);
}

.brands {
    margin: 20px 0;
}

.brands .title
{
    margin: 0 auto 20px;
}

.col5
{
    width: 178px;
    /* padding-right: px; */
}

.col5 img
{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col5 img:hover
{
    filter: grayscale(0%);
}

/*----------------- FOOTER------------------- */

footer
{
    background-color: #1f1f1f;
    padding: 20px 0pc;
}

footer .row
{
    justify-content: space-around;
}

.footercol1 img
{
    max-width: 125px;
    margin: 20px 0;
}

footer 
{
    color: white;
    text-align: center;
}

footer h3
{
    font-size: 17px;
    margin-bottom: 10px;
}

footer ul, footer a
{
    list-style: none;
    text-decoration: none;
    color: #bfbfbf;
    font-size: 13px;
    cursor: pointer;
}
footer p
{
    font-size: 11px;
    color: #bfbfbf;
}
footer .footerlogo
{
    margin-bottom: 10px;
}
.footercol2 img
{
    max-width: 100px;
}

footer hr
{
    color: white;
    /* border: none; */
    height: 1px;
    margin: 10px 30px;
}

.footercol
{
    /* min-width: 250px; */
}


.menu-icon
{
    width: 28px;
    margin: 0 20px 0 10px;
    display: none;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    
}



/* --------------MEDIA QUERY FOR MENU--------------  */

@media only screen and (max-width:862px)
{
    nav ul 
    {
        position: absolute;
        top:57px;
        left: 0px;
        width: 100%;
        background-color: #1f1f1f;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li 
    {
        display: block;
        margin: 10px 0;
        margin-right: 50px;
    }

    .menu-icon
    {
        display: block;
        cursor: pointer;
    }

    
}
@media only screen and (max-width:1030px)
{
    .disappear
    {
        display: none;
    }
}

@media only screen and (max-width:550px)
{
    .col2, .col3. .col4
    {
        flex-basis: 100%;
    }
    .row
    {
        text-align: center;
    }
}